body{
    background: linear-gradient( #F0EEE9, #00ABC0, #645394);
    font-family: 微軟正黑體;
}

/* 導覽列 */
nav{
    text-align: center;
}
/* 第一層 */
nav ul{
    position: fixed; 
    top: 0px;
    left: 0px;
    width: 100%;
    height: 65px;
    background-color: #333;
    margin: 0; /* 外邊界 */
    padding: 0; /* 內邊界 */
}
nav ul li{
    position: relative; /* 相對位置 */
    display: inline-block; /* 不換行(行內元素) */
    list-style: none;
    font-size: 30px;
}
nav ul li a{
    display: block;
    padding: 12px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #111;
}
/* 第二層 */
nav ul li ul{
    display: none; /* 先不顯示 */
    position: absolute; /* 絕對位置 */
    margin-top: 64px;
}
nav ul li:hover ul{
    display: block; /* 選取時才顯示 */
}
nav ul ul a{
    width: 120px;
}
/* 
@media (max-width: 700px){
    nav ul{
        height: 55px;
    }
    nav ul li{
        font-size: 20px;
    }
    nav ul li ul{
        margin-top: 54px;
    }
    nav ul ul a{
        width: 80px;
    }
}
@media (max-width: 550px){
    nav ul{
        height: 50px;
    }
    nav ul li{
        font-size: 15px;
    }
    nav ul li ul{
        margin-top: 49px;
    }
    nav ul ul a{
        width: 50px;
    }
}
*/


/* 內文 */
h1{
    font-size: 50px;
    text-align: center;
}
h2{
    font-size: 40px;
    color: rgb(252, 181, 49);
}
h3{
    font-size: 35px;
    color: rgb(255, 190, 70);
}
p{
    font-size: 25px;
}

/* 抱枕動畫 */
#cushion0{
    width: 220px;
    height: 220px;
    background-color: transparent;
    position: fixed;
    animation-name: cushion;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.cushion1{
    background-image: url('https://wen357159.github.io/GFRIEND/pic/doll/1.png');
    margin-top: -5%;
    margin-left: 2%;
}
.cushion2{
    background-image: url('pic\doll\2.png');
    margin-top: 12%;
    margin-left: 2%;
}
.cushion3{
    background-image: url('pic\doll\3.png');
    margin-top: 27%;
    margin-left: 2%;
}
.cushion4{
    background-image: url('pic\doll\4.png');
    margin-top: -5%;
    margin-left: 1650px;
}
.cushion5{
    background-image: url('pic\doll\5.png');
    margin-top: 12%;
    margin-left: 1650px;
}
.cushion6{
    background-image: url('pic\doll\6.png');
    margin-top: 27%;
    margin-left: 1650px;
}
@keyframes cushion{
    0%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}

/* class */
.box{
    width: 70%;
    border: 1px rgb(0, 0, 0) solid; /* 邊框: 粗細 顏色 樣式 */
    margin: 10% 15%; /* 外邊界 */
    padding: 10px; /* 內邊界 */
}

/* 團體介紹 */
.img-team{
    margin: 0 10px;
}
.img-color{
    width: 25px;
    height: 25px;
    vertical-align: middle; /* 圖片和文字位置 */
}
.img-handlamp{
    width: 100px;
    height: 100px;
    vertical-align: middle; /* 圖片和文字水平置中 */
}
.img-handlamp:hover{ 
    transform: scale(2);
}
.url{
    color: black;
}
.url:hover{
    font-size: 30px;
}

/* 專輯 */
table, td {
    border: 1px black solid;
    width: 100%;
    table-layout: fixed; /* 欄寬均分 */
    font-size: 25px;
}
.img-album{
    float: left; /* 靠左 */
    margin: 5%;
    width: 220px;
    height: 220px;
}
.text-album{
    float: left;
    margin-top: 5%;
}
.img-album-j{
    margin: 5% 30%;
    width: 220px;
    height: 220px;
}
.text-album-j{
    margin: 30px;
}
.url-1{
    color: black;
}
.url-1:hover{
    font-size: 26px;
}

/*--------------------------------*/
/* 響應式 */
img {
    max-width: 100%;
    height: auto;
  }
